body {
    background-color: #777;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 100px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    background-color: #333;
    color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.input-field , .result-field {

    display: flex;
    flex-direction: column;
    gap: 10px;

}

button { 
    margin: 10px;
}